
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Пресс-центр</a>
            </div>
            <h1>медиа</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <div class="news-filtr">
                            <a href="#" class="news-filtr-one active">Все</a>
                            <a href="#" class="news-filtr-one">Фото</a>
                            <a href="#" class="news-filtr-one">Видео</a>
                        </div>

                        <div class="media-list">
                            <a href="#" class="media-one">
                                <img src="tmp/media-list.jpg" alt="">
                                <div class="media-list__type media-list__type--foto">Фото</div>
                                <div class="media-list__title">Запуск ТПК «Союз МС-04» ракетой-носителем «Союз-ФГ»</div>
                            </a>
                            <a href="#" class="media-one">
                                <img src="tmp/media-list.jpg" alt="">
                                <div class="media-list__type media-list__type--video">Видео</div>
                                <div class="media-list__title">Запуск ТПК «Союз МС-04» ракетой-носителем «Союз-ФГ»</div>
                            </a>
                            <a href="#" class="media-one">
                                <img src="tmp/media-list.jpg" alt="">
                                <div class="media-list__type media-list__type--foto">Фото</div>
                                <div class="media-list__title">Запуск ТПК «Союз МС-04» ракетой-носителем «Союз-ФГ»</div>
                            </a>
                            <a href="#" class="media-one">
                                <img src="tmp/media-list.jpg" alt="">
                                <div class="media-list__type media-list__type--video">Видео</div>
                                <div class="media-list__title">Запуск ТПК «Союз МС-04» ракетой-носителем «Союз-ФГ»</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">Пресс-центр</div>
                        <div class="side-list">
                            <a href="#">Новости</a>
                            <a href="#" class="current">Медиа</a>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
</div>