<div class="wrap">
    <div class="content content--side">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
        </div>
        <h1>Поиск по сайту</h1>
            
       <div class="results">
           <div class="results-form">
               <form action="">
               		<div class="form-line">
	               		<input type="text" placeholder="Поиск по сайту" value="Энергия-Буран">
	               		<button class="results-form__search"></button>		
               		</div>
               </form>
           </div>

           <div class="result-count">Найдено результатов: 40</div>

			<div class="result-list">
				<div class="result-one">
					<div class="result-one-top">
						<div class="result-one__date">27 апреля 2017</div>
						<a class="result-one__category" href="#">Космическая тематика</a>
					</div>

					<a href="#" class="result-one__title">КРК «<span>Энергия-Буран</span>». Агрегат 17Т13</a>
					<div class="result-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
				</div>
				<div class="result-one">
					<div class="result-one-top">
						<div class="result-one__date">27 апреля 2017</div>
						<a class="result-one__category" href="#">Космическая тематика</a>
					</div>

					<a href="#" class="result-one__title">КРК «<span>Энергия-Буран</span>». Агрегат 17Т13</a>
					<div class="result-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
				</div>
				<div class="result-one">
					<div class="result-one-top">
						<div class="result-one__date">27 апреля 2017</div>
						<a class="result-one__category" href="#">Космическая тематика</a>
					</div>

					<a href="#" class="result-one__title">КРК «<span>Энергия-Буран</span>». Агрегат 17Т13</a>
					<div class="result-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
				</div>
				<div class="result-one">
					<div class="result-one-top">
						<div class="result-one__date">27 апреля 2017</div>
						<a class="result-one__category" href="#">Космическая тематика</a>
					</div>

					<a href="#" class="result-one__title">КРК «<span>Энергия-Буран</span>». Агрегат 17Т13</a>
					<div class="result-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
				</div>
				<div class="result-one">
					<div class="result-one-top">
						<div class="result-one__date">27 апреля 2017</div>
						<a class="result-one__category" href="#">Космическая тематика</a>
					</div>

					<a href="#" class="result-one__title">КРК «<span>Энергия-Буран</span>». Агрегат 17Т13</a>
					<div class="result-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
				</div>

			</div>
			<div class="pagination pagination--search">
                 <span>1</span> <a href="#">2</a> <a href="#">3</a>  <a href="#">Следующая</a>
            </div>
       </div>     
            
    </div>
   
</div>
