
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">О компании</a>
            </div>
            <h1>история компании</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <mark>Акционерное общество «Корпорация «Стратегические пункты управления» было образованно 02 мая 2012 года путем реорганизации в форме преобразования Федерального государственного унитарного предприятия «Центральное конструкторское бюро тяжелого машиностроения».</mark>

                        <h2>Заголовок h2</h2>

                        <p>Акционерное общество «Корпорация «Стратегические пункты управления» было образованно 02 мая 2012 года путем реорганизации в форме преобразования Федерального государственного унитарного предприятия «Центральное конструкторское бюро тяжелого машиностроения».</p>

                        <h3>Заголовок h3</h3>

                        <p>Ордена Трудового Красного Знамени ФГУП «Центральное конструкторское бюро тяжелого машиностроения», головное предприятие по созданию систем высокозащищенных командных пунктов, было образовано в 1947 г. в целях создания агрегатов наземного оборудования для запуска советских ракет (Р-1, Р-2, Р-5, Р-7 и др.). Первая межконтинентальная ракета, первый спутник и первый космонавт были выведены на околоземную орбиту с применением агрегатов наземного оборудования, разработанных специалистами ЦКБ ТМ.</p>

                        <h4>Заголовок h4</h4>

                        <p>Предприятием были разработаны и изготовлены подъемно-установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ. Коллективом АО «Корпорация «СПУ-ЦКБ ТМ» были спроектированы и изготовлены подъемно-установочное оборудование, башни и фермы обслуживания, заправочные кабель-мачты, системы экстренной эвакуации и другие агрегаты наземного базирования для ракетно-космических комплексов типа «Восток», «Союз», «Мир», «Протон», «Н-1», «Энергия-Буран», международных программ «Морской старт» и «Гвианский космический центр».</p>

                        <cite>Предприятием были разработаны и изготовлены подъемно-установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ.</cite>

                        <h5>Заголовок h5</h5>

                        <p>Ордена Трудового Красного Знамени ФГУП «Центральное конструкторское бюро тяжелого машиностроения», головное предприятие по созданию систем высокозащищенных командных пунктов, было образовано в 1947 г. в целях создания агрегатов наземного оборудования для запуска советских ракет (Р-1, Р-2, Р-5, Р-7 и др.). Первая межконтинентальная ракета, первый спутник и первый космонавт были выведены на околоземную орбиту с применением агрегатов наземного оборудования, разработанных специалистами ЦКБ ТМ.</p>

                        <blockquote>Предприятием были разработаны и изготовлены подъемно-установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ.</blockquote>

                        <h5>Нумерованный список:</h5>
                        <ol>
                            <li>выплата единовременного пособия по рождению ребенка, а также ежемесячного пособия женщинам, находящимся в отпуске по уходу за ребенком до достижения им возраста 1,5 и 3-х лет;</li>
                            <li>оплата проезда к месту проведения отдыха и обратно, провоза багажа один раз в год работнику и членам его семьи;
                                <ol>
                                    <li>приобретение за счет средств прибыли предприятия для работников и членов их семей санаторно-курортных и туристических путевок в оздоровительные учреждения России и за границей, а также в детские оздоровительные лагеря;</li>

                                    <li>обеспечение круглогодичного отдыха сотрудников на туристических базах отдыха в пределах муниципального образования город Норильск;</li>
                                </ol>

                            </li>
                            <li>организация мероприятий в рамках развития корпоративной культуры.</li>
                            <li>выплата единовременного пособия по рождению ребенка, а также ежемесячного пособия женщинам, находящимся в отпуске по уходу за ребенком до достижения им возраста 1,5 и 3-х лет;</li>
                            <li>оплата проезда к месту проведения отдыха и обратно, провоза багажа один раз в год работнику и членам его семьи;</li>
                        </ol>


                        <h5>Маркерованный список:</h5>
                        <ul>
                            <li>выплата единовременного пособия по рождению ребенка, а также ежемесячного пособия женщинам, находящимся в отпуске по уходу за ребенком до достижения им возраста 1,5 и 3-х лет;</li>
                            <li>оплата проезда к месту проведения отдыха и обратно, провоза багажа один раз в год работнику и членам его семьи;
                                <ul>
                                    <li>приобретение за счет средств прибыли предприятия для работников и членов их семей санаторно-курортных и туристических путевок в оздоровительные учреждения России и за границей, а также в детские оздоровительные лагеря;</li>

                                    <li>обеспечение круглогодичного отдыха сотрудников на туристических базах отдыха в пределах муниципального образования город Норильск;</li>
                                </ul>

                            </li>
                            <li>организация мероприятий в рамках развития корпоративной культуры.</li>
                            <li>выплата единовременного пособия по рождению ребенка, а также ежемесячного пособия женщинам, находящимся в отпуске по уходу за ребенком до достижения им возраста 1,5 и 3-х лет;</li>
                            <li>оплата проезда к месту проведения отдыха и обратно, провоза багажа один раз в год работнику и членам его семьи;</li>
                        </ul>

                        <table class="table">
                            <tr>
                                <th>№ лота</th>
                                <th>Наименование</th>
                                <th>Модель</th>
                                <th>Начальная цена продажи, без НДС, руб.</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Канат стальной ГОСТ 7668-80</td>
                                <td>Г-ВК-Л-Н 180-190 Д=39,0 мм</td>
                                <td>386 060,76</td>
                            </tr>
                        </table>

                        <table class="table-head">
                            <tr>
                                <th>№ лота</th>
                                <th>Наименование</th>
                                <th>Модель</th>
                                <th>Начальная цена продажи, без НДС, руб.</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Канат стальной ГОСТ 7668-80</td>
                                <td>Г-ВК-Л-Н 180-190 Д=39,0 мм</td>
                                <td>386 060,76</td>
                            </tr>
                        </table>


                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">О компании</div>
                        <div class="side-list">
                            <a href="#" class="current">История компании</a>
                            <a href="#">Руководство</a>
                            <a href="#">Партнеры</a>
                            <a href="#">Направления деятельности</a>
                            <a href="#">Вакансии</a>
                            <a href="#">Библиотека</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>