<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Пресс-центр</a> / <a href="#">Медиа</a>
            </div>
            <h1>Запуск ТПК «Союз МС-04» ракетой-носителем «Союз-ФГ»</h1>
            

            <div class=" clearfix">

                <div class="preview">
                    <div class="video-one" >
                        <a href="https://www.youtube.com/watch?v=wIGnmmUpDho" class="video-one__show" style="background-image: url(tmp/video-one.jpg);">
                            <div class="video-one__button">Смотреть видео</div>
                        </a>
                        <div class="video-one__title">Успешный запуск ТПК «Союз МС-02» ракетой-носителем «Союз-ФГ»</div>
                    </div>
                    <div class="video-one" >
                        <a href="https://www.youtube.com/watch?v=wIGnmmUpDho" class="video-one__show" style="background-image: url(tmp/video-one.jpg);">
                            <div class="video-one__button">Смотреть видео</div>
                        </a>
                        <div class="video-one__title">Успешный запуск ТПК «Союз МС-02» ракетой-носителем «Союз-ФГ»</div>
                    </div>
                    <div class="video-one" >
                        <a href="https://www.youtube.com/watch?v=wIGnmmUpDho" class="video-one__show" style="background-image: url(tmp/video-one.jpg);">
                            <div class="video-one__button">Смотреть видео</div>
                        </a>
                        <div class="video-one__title">Успешный запуск ТПК «Союз МС-02» ракетой-носителем «Союз-ФГ»</div>
                    </div>
                </div>

                
                <div class="news-one-wrap">
                    <div class="news-one-nav news-one-nav--media clearfix">
                        <a href="#" class="news-one-nav__prev"><span>Предыдущий альбом</span></a>
                        <a href="#" class="news-one-nav__back"></a>
                        <a href="#" class="news-one-nav__next"><span>Следующий альбом</span></a>
                    </div>
                </div>
                
            </div>
    </div>
</div>