<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Пресс-центр</a>
            </div>
            <h1>В Байконуре отметили 60 лет первого запуска МБР и 30 лет полета РН «Энергия»</h1>
            
            <div class="news-date">7 апреля 2017</div>

            <div class=" clearfix">

                <div class="news-one-wrap">
                    <mark>Акционерное общество «Корпорация «Стратегические пункты управления» было образованно 02 мая 2012 года путем реорганизации в форме преобразования Федерального государственного унитарного предприятия «Центральное конструкторское бюро тяжелого машиностроения».</mark>

                    <p>Ордена Трудового Красного Знамени ФГУП «Центральное конструкторское бюро тяжелого машиностроения», головное предприятие по созданию систем высокозащищенных командных пунктов, было образовано в 1947 г. в целях создания агрегатов наземного оборудования для запуска советских ракет (Р-1, Р-2, Р-5, Р-7 и др.). Первая межконтинентальная ракета, первый спутник и первый космонавт были выведены на околоземную орбиту с применением агрегатов наземного оборудования, разработанных специалистами ЦКБ ТМ.</p>
                    
                    <p>Предприятием были разработаны и изготовлены подъемно- установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ. Коллективом АО «Корпорация «СПУ-ЦКБ ТМ» были спроектированы и изготовлены подъемно-установочное оборудование, башни и фермы обслуживания, заправочные кабель-мачты, системы экстренной эвакуации и другие агрегаты наземного базирования для ракетно-космических комплексов типа «Восток», «Союз», «Мир», «Протон», «Н-1», «Энергия-Буран», международных программ «Морской старт» и «Гвианский космический центр».</p>
                    <p>Кроме основной научно-производственной площадки в городе Москве, АО «Корпорация «СПУ-ЦКБ ТМ» имеет филиал АО "Корпорация "Стратегические пункты управления" "Специальное конструкторское бюро "Титан" и филиал АО "Корпорация "Стратегические пункты управления" "КБ Тяж Маш" в г. Санкт-Петербург. Также предприятие имеет два представительства в Свердловской и Архангельской областях.</p>
                </div>

                <div class="news-slider swiper-container">
                    <div class="swiper-wrapper">
                        <a href="tmp/about.jpg" class="swiper-slide"><img src="tmp/product-1.jpg" alt=""></a>
                        <a href="tmp/about.jpg" class="swiper-slide"><img src="tmp/product-2.jpg" alt=""></a>
                        <a href="tmp/about.jpg" class="swiper-slide"><img src="tmp/news-1.jpg" alt=""></a>
                        <a href="tmp/about.jpg" class="swiper-slide"><img src="tmp/product-1.jpg" alt=""></a>
                        <a href="tmp/about.jpg" class="swiper-slide"><img src="tmp/product-2.jpg" alt=""></a>
                        <a href="tmp/about.jpg" class="swiper-slide"><img src="tmp/news-1.jpg" alt=""></a>
                        <a href="tmp/about.jpg" class="swiper-slide"><img src="tmp/news-1.jpg" alt=""></a>
                    </div>
                </div>
                
                <div class="news-one-wrap">

                    <div class="news-one-tag">
                        Теги:
                        <a href="#">Машиностроение</a>
                        <a href="#">Транспорт</a>
                    </div>

                    <div class="news-one-nav clearfix">
                        <a href="#" class="news-one-nav__prev"><span>Предыдущая новость</span></a>
                        <a href="#" class="news-one-nav__back"></a>
                        <a href="#" class="news-one-nav__next"><span>Следующая новость</span></a>
                    </div>

                    <div class="news-one-doc">
                        <h2>документы по теме</h2>
                        <div class="doc-one clearfix">
                            <i class="doc-one__icon doc--doc">doc</i>
                            <div class="doc-one__title">Информация о присоединении к Положению о закупке товаров, работ, услуг Госкорпорации "Роскосмос"</div>
                            <div class="doc-one__date">29.06.2016</div>
                            <a href="#" class="doc-one__download">Скачать</a>
                            <a href="#" class="doc-one__print">Печать</a>
                        </div>
                        <div class="doc-one clearfix">
                            <i class="doc-one__icon doc--pdf">pdf</i>
                            <div class="doc-one__title">Информация о присоединении к Положению о закупке товаров, работ, услуг Госкорпорации "Роскосмос"</div>
                            <div class="doc-one__date">29.06.2016</div>
                            <a href="#" class="doc-one__download">Скачать</a>
                            <a href="#" class="doc-one__print">Печать</a>
                        </div>
                        <div class="doc-one clearfix">
                            <i class="doc-one__icon doc--xls">xls</i>
                            <div class="doc-one__title">Информация о присоединении к Положению о закупке товаров, работ, услуг Госкорпорации "Роскосмос"</div>
                            <div class="doc-one__date">29.06.2016</div>
                            <a href="#" class="doc-one__download">Скачать</a>
                            <a href="#" class="doc-one__print">Печать</a>
                        </div>
                    </div>
                    <div class="news-one-other">
                        <h2>Новости по теме</h2>
                        <div class="news-one">
                                <div class="news-one__img">
                                    <img src="tmp/news-1.jpg" alt="">
                                </div>
                                <div class="news-one__date">27 апреля 2017</div>
                                <a class="news-one__title" href="#">Проект шестилучевого гаража-хранилища легковых автомобилей</a>
                                <div class="news-one__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, пеноматериалов и других экзотических материалов.</div>
                                <div class="news-one__tag">
                                    # <a href="">Машиностроение</a>, <a href="#">транспорт</a>
                                </div>
                        </div>
                        <div class="news-one">
                                <div class="news-one__img">
                                    <img src="tmp/news-1.jpg" alt="">
                                </div>
                                <div class="news-one__date">27 апреля 2017</div>
                                <a class="news-one__title" href="#">Проект шестилучевого гаража-хранилища легковых автомобилей</a>
                                <div class="news-one__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, пеноматериалов и других экзотических материалов.</div>
                                <div class="news-one__tag">
                                    # <a href="">Машиностроение</a>, <a href="#">транспорт</a>
                                </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>