<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a>
            </div>
            <h1>О компании</h1>

            <div class=" clearfix">

                <div class="text-column">
                    <img src="tmp/about.jpg" alt="">
                    <mark>Акционерное общество «Корпорация «Стратегические пункты управления» было образованно 02 мая 2012 года путем реорганизации в форме преобразования Федерального государственного унитарного предприятия «Центральное конструкторское бюро тяжелого машиностроения».</mark>

                    <p>Ордена Трудового Красного Знамени ФГУП «Центральное конструкторское бюро тяжелого машиностроения», головное предприятие по созданию систем высокозащищенных командных пунктов, было образовано в 1947 г. в целях создания агрегатов наземного оборудования для запуска советских ракет (Р-1, Р-2, Р-5, Р-7 и др.). Первая межконтинентальная ракета, первый спутник и первый космонавт были выведены на околоземную орбиту с применением агрегатов наземного оборудования, разработанных специалистами ЦКБ ТМ.</p>
                </div>
                <div class="text-column">
                    <p>Предприятием были разработаны и изготовлены подъемно- установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ. Коллективом АО «Корпорация «СПУ-ЦКБ ТМ» были спроектированы и изготовлены подъемно-установочное оборудование, башни и фермы обслуживания, заправочные кабель-мачты, системы экстренной эвакуации и другие агрегаты наземного базирования для ракетно-космических комплексов типа «Восток», «Союз», «Мир», «Протон», «Н-1», «Энергия-Буран», международных программ «Морской старт» и «Гвианский космический центр».</p>
                    <p>Кроме основной научно-производственной площадки в городе Москве, АО «Корпорация «СПУ-ЦКБ ТМ» имеет филиал АО "Корпорация "Стратегические пункты управления" "Специальное конструкторское бюро "Титан" и филиал АО "Корпорация "Стратегические пункты управления" "КБ Тяж Маш" в г. Санкт-Петербург. Также предприятие имеет два представительства в Свердловской и Архангельской областях.</p>
                </div>

                
                <div class="side side--bottom">
                    <div class="side-title">О компании</div>
                    <a href="#" class="current">История компании</a>
                    <a href="#">Руководство</a>
                    <a href="#">Партнеры</a>
                    <a href="#">Направления деятельности</a>
                    <a href="#">Вакансии</a>
                    <a href="#">Библиотека</a>
                </div>
            </div>
    </div>
</div>