
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Корпоративная часть</a>
            </div>
            <h1>Закупка у единственного поставщика</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <div class="search-inn">
                            <form action="" id="search-inn">
                                <input class="search-inn__input" type="text" placeholder="Введите название закупки" name="seach">
                                <button class="search-inn__button"></button>
                            </form>
                        </div>

                        <div class="law-list">
                            Законы: 
                            <a href="#" class="law-one">№44-ФЗ</a>
                            <a href="#" class="law-one">№223-ФЗ</a>
                        </div>
                        <div class="filtr">
                            <div class="filtr-sort">
                                Сортировать:   <a href="#" class="active">по дате</a>    <a href="#">по алфавиту</a>
                            </div>
                            <div class="filtr-show">
                                На странице:   <a href="#" class="active">20</a>    <a href="#">40</a><a href="">Все</a>
                            </div>
                        </div>

                        <div class="zakup-one">
                            <div class="zakup-one__law">223-ФЗ</div>
                            <div class="zakup-one__title">№31603212650 Изготовление САЭ и САУК221ВЗМ в согласованном объеме</div> 
                            <div class="zakup-one__date-start">
                                <span>Дата размещения</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__date-finish">
                                <span>Дата подведения итогов</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__doc">
                                <a href="#">Документация</a>
                                <a href="#">Протокол</a>
                                <a href="#">Договор</a>
                            </div>
                        </div>
                        <div class="zakup-one">
                            <div class="zakup-one__law">223-ФЗ</div>
                            <div class="zakup-one__title">№31603212650 Изготовление САЭ и САУК221ВЗМ в согласованном объеме</div> 
                            <div class="zakup-one__date-start">
                                <span>Дата размещения</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__date-finish">
                                <span>Дата подведения итогов</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__doc">
                                <a href="#">Документация</a>
                                <a href="#">Протокол</a>
                                <a href="#">Договор</a>
                            </div>
                        </div>
                        <div class="zakup-one">
                            <div class="zakup-one__law">223-ФЗ</div>
                            <div class="zakup-one__title">№31603212650 Изготовление САЭ и САУК221ВЗМ в согласованном объеме</div> 
                            <div class="zakup-one__date-start">
                                <span>Дата размещения</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__date-finish">
                                <span>Дата подведения итогов</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__doc">
                                <a href="#">Документация</a>
                                <a href="#">Протокол</a>
                                <a href="#">Договор</a>
                            </div>
                        </div>
                        <div class="zakup-one">
                            <div class="zakup-one__law">223-ФЗ</div>
                            <div class="zakup-one__title">№31603212650 Изготовление САЭ и САУК221ВЗМ в согласованном объеме</div> 
                            <div class="zakup-one__date-start">
                                <span>Дата размещения</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__date-finish">
                                <span>Дата подведения итогов</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__doc">
                                <a href="#">Документация</a>
                                <a href="#">Протокол</a>
                                <a href="#">Договор</a>
                            </div>
                        </div>
                        <div class="zakup-one">
                            <div class="zakup-one__law">223-ФЗ</div>
                            <div class="zakup-one__title">№31603212650 Изготовление САЭ и САУК221ВЗМ в согласованном объеме</div> 
                            <div class="zakup-one__date-start">
                                <span>Дата размещения</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__date-finish">
                                <span>Дата подведения итогов</span>
                                18.01.2016
                            </div>
                            <div class="zakup-one__doc">
                                <a href="#">Документация</a>
                                <a href="#">Протокол</a>
                                <a href="#">Договор</a>
                            </div>
                        </div>

                        <div class="pagination">
                            <span>1</span> <a href="#">2</a> <a href="#">3</a>  <a href="#">Следующая</a>
                            <div class="filtr-show filtr-show--bottom">
                                На странице:   <a href="#" class="active">20</a>    <a href="#">40</a><a href="">Все</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">О компании</div>
                        <div class="side-list">
                            <a href="#">Нормативно правовые акты</a>
                            <a href="#">Методические материалы</a>
                            <a href="#">Формы документов</a>
                            <a href="#">Комиссия</a>
                            <a href="#">Сведения</a>
                            <a href="#">Система менеджмента качества</a>
                            <a href="#">Документы</a>
                            <a href="#">Противодействие коррупции</a>
                            <a href="#">Антикоррупционная экспертиза</a>
                            <a href="#" class="current">Закупки</a>
                            <a href="#">Раскрытие информации</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>