
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Корпоративная часть</a>
            </div>
            <h1>Закупка у единственного поставщика</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <div class="filtr">
                            <div class="filtr-sort">
                                Сортировать:   <a href="#" class="active">по дате</a>    <a href="#">по алфавиту</a>
                            </div>
                            <div class="filtr-show">
                                На странице:   <a href="#" class="active">20</a>    <a href="#">40</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">О компании</div>
                        <div class="side-list">
                            <a href="#">Нормативно правовые акты</a>
                            <a href="#">Методические материалы</a>
                            <a href="#">Формы документов</a>
                            <a href="#">Комиссия</a>
                            <a href="#">Сведения</a>
                            <a href="#">Система менеджмента качества</a>
                            <a href="#">Документы</a>
                            <a href="#">Противодействие коррупции</a>
                            <a href="#">Антикоррупционная экспертиза</a>
                            <a href="#" class="current">Закупки</a>
                            <a href="#">Раскрытие информации</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>