<div class="footer">
    <div class="wrap">
        <div class="footer-top">АО «Корпорация «Стратегические пункты управления»</div>

        <div class="footer-social">
            <div class="footer-social__title">Мы в социальных сетях</div>
            <a href="#" class="footer-social__one footer-social__one--vk"></a>
            <a href="#" class="footer-social__one footer-social__one--fb"></a>
            <a href="#" class="footer-social__one footer-social__one--tw"></a>
        </div>

        <div class="footer-menu">
            <a href="#" class="footer-menu__one">продукция</a>
            <a href="#" class="footer-menu__one">о компании</a>
            <a href="#" class="footer-menu__one">КОРПОРАТИВНАЯ ЧАСТЬ</a>
            <a href="#" class="footer-menu__one">пресс-центр</a>
            <a href="#" class="footer-menu__one">контакты</a>
        </div>

        <div class="footer-menu">
            <a href="#">Карта сайта</a>
            <a href="#">Корпоративная почта</a>
        </div>

        <div class="footer-copy">© 2017 АО «Корпорация «Стратегические пункты управления». Все права защищены.</div>

        <a href="#" class="footer-sm">Создание сайта «Софтмажор»</a>
    </div>
</div>