<div class="head-bg" style="background-image: url(tmp/slide-1.jpg);"></div>
<div class="wrap">
    <div class="head">
        <a href="#" class="main-logo">
            <img src="img/logo.png" alt="">
        </a>
        <a href="#" class="roscosmos-logo">
            <img src="img/roscosmos-top.png" alt="">
        </a>

        <ul class="main-menu">
            <li class="main-menu-one"><a href="#"><i></i>продукция</a></li>
            <li class="main-menu-one"><a href="#">о компании</a></li>
            <li class="main-menu-one"><a href="#">КОРПОРАТИВНАЯ ЧАСТЬ</a></li>
            <li class="main-menu-one"><a href="#">пресс-центр</a></li>
            <li class="main-menu-one"><a href="#">контакты</a></li>
        </ul>

        <div class="head-top">
            <a href="#" class="head-top__search"></a>
            <i class="head-top__del"></i>
            <a href="#" class="head-top__lang">en</a>
        </div>
    </div>
</div>