<div class="head-bg head-bg--error" style="background-image: url(tmp/slide-1.jpg);"></div>
<div class="wrap">
    <div class="head">
        <a href="#" class="main-logo">
            <img src="img/logo.png" alt="">
        </a>
        <a href="#" class="roscosmos-logo">
            <img src="img/roscosmos-top.png" alt="">
        </a>

        <a href="#menu" class="mobile-menu-open open_modal"></a>

        <ul class="main-menu">
            <li class="main-menu-one"><a href="#"><i></i>продукция</a>
                <ul>
                    <li><a href="#">Гражданская продукция</a></li>
                    <li><a href="#">Космическая тематика</a></li>
                </ul>
            </li>
            <li class="main-menu-one"><a href="#">о компании</a>
                <ul>
                    <li><a href="#">История компании</a></li>
                    <li><a href="#">Руководство</a></li>
                    <li><a href="#">Партнеры</a></li>
                    <li><a href="#">Направления деятельности</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Библиотека</a></li>
                </ul>
            </li>
            <li class="main-menu-one"><a href="#">КОРПОРАТИВНАЯ ЧАСТЬ</a></li>
            <li class="main-menu-one"><a href="#">пресс-центр</a></li>
            <li class="main-menu-one"><a href="#">контакты</a></li>
        </ul>

        <div class="head-top">
            <a href="#search" class="head-top__search open_modal"></a>
            <i class="head-top__del"></i>
            <a href="#" class="head-top__lang">en</a>
        </div>
    </div>
</div>