<div id="overlay">
	<div class="modal" id="order">
		<div class="order__inn">
			<div class="modal__close"></div>
			<div class="order-title">Write Us</div>
			<div class="order-form">
				<form id="order-form" action="" method="post" >
					<div class="form-line">
						<label for="">Name</label>
						<input type="text" name="name">
					</div>
					<div class="form-line">
						<label for="">Email</label>
						<input type="text" name="email">
					</div>
					<div class="form-line">
						<label for="">Phone number</label>
						<input type="text" name="phone">
					</div>
					<div class="form-line">
						<label for="">Your message</label>
						<textarea name="mesage"></textarea>
					</div>
					<div class="form-line">
						<label for=""></label>
						<button class="form-send">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal  modal--fz" id="menu">
		<div class="mobile-menu">
			<div class="mobile-menu-top">
				<img src="img/logo.png" alt="" class="mobile-menu__logo">
				<div class="modal__close modal__close--menu"></div>
				<div class="head-top">
		            <a href="#" class="head-top__lang">en</a>
		        </div>
			</div>
			<div class="mobile-menu-inn">
				<ul class="mobile-menu-list">
		            <li class="mobile-menu-one"><a href="#"><i></i>продукция</a>
		                <ul>
		                    <li><a href="#">Гражданская продукция</a></li>
		                    <li><a href="#">Космическая тематика</a></li>
		                </ul>
		            </li>
		            <li class="mobile-menu-one"><a href="#">о компании</a>
		                <ul>
		                    <li><a href="#">История компании</a></li>
		                    <li><a href="#">Руководство</a></li>
		                    <li><a href="#">Партнеры</a></li>
		                    <li><a href="#">Направления деятельности</a></li>
		                    <li><a href="#">Вакансии</a></li>
		                    <li><a href="#">Библиотека</a></li>
		                </ul>
		            </li>
		            <li class="mobile-menu-one"><a href="#">КОРПОРАТИВНАЯ ЧАСТЬ</a></li>
		            <li class="mobile-menu-one"><a href="#">пресс-центр</a></li>
		            <li class="mobile-menu-one"><a href="#">контакты</a></li>
		        </ul>
			</div>
			<div class="mobile-menu-bottom">
				<a href="#" class="footer-social__one footer-social__one--vk"></a>
                <a href="#" class="footer-social__one footer-social__one--fb"></a>
                <a href="#" class="footer-social__one footer-social__one--tw"></a>

                <a href="#" class="mobile-menu__roscosmos">
                	<img src="img/roscosmos-mobile.png" alt="">
                </a>
			</div>
		</div>
	</div>
	<div class="modal modal--fz" id="search">
		<div class="wrap">
			<div class="search">
				<form action="" id="search-form">
					<input type="text" placeholder="Поиск по сайту">
					<div class="head-top">
			         	<button class="head-top__search"></button>   
			            <i class="head-top__del"></i>
			            <div class="modal__close"></div>
			        </div>
				</form>
			</div>
		</div>
	</div>
</div>