//переменные
@font: 'Open Sans', sans-serif;
@font-title: 'Open Sans', serif;
@font-alt: 'Trebuchet MS', serif;

@color_white: #fff;
@color_text: #717171;
@color_link: #1e6ba3;
@color_blue: #154a70;
@color_blue-d: #2a3f4f;
@color_grey: #9b9ea3;
@color_red: #f03c38;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-spacing: normal;
}

div {
    position: relative;
}

html { 
    height: 100%; 
    width: 100%; 
}

body {
    width: 100%; 
    position: relative;
    font-family: @font;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: @color_text;
}

.box {
    min-height: 100vh;
    padding-bottom: 270px;
}

img {
    border: none;
}

p {
    font-size: 14px;
    margin: 0 0 20px 0;
    line-height: 26px;
}

a {
    color: @color_link;
    outline: none;
    transition: all 0.2s;

    &:hover {
        text-decoration: none;
        color: @color_red;
    }
}

button {
    transition: all 0.2s;
}

a:hover {
    text-decoration: none;
}

.head (@font-size, @margin-bottom, @line-height: normal, @color) {
    font-size: @font-size;
    margin: 0 0 @margin-bottom 0;
    line-height: @line-height;
    color: @color;
}

h1 {
    .head(28px, 30px, normal, #000);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    .head(20px, 30px, normal, #000);
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    .head(16px, 30px, normal, #000);
    font-weight: 700;
}

h4 {
    .head(14px, 30px, normal, #000);
    font-weight: 700;
}

h5 {
    .head(13px, 15px, normal, #000);
    font-weight: 700;
}

mark {
    background: none;
    font-size: 18px;
    margin-bottom: 30px;
    display: block;
    color: @color_text;
    text-align: center;
}

hr {
    border-width: 0;
    margin: 30px 0;
    &:after {
        content: "";
        display: block;
        width: 80px;
        margin: 0 auto;
        height: 3px;
        background: @color_red;
    }
}


table{
    border-collapse:collapse;
}

td{

}

ul, ol{
    margin:0 0 25px 0px; 
    padding: 0 0 0 30px;
}
ul li, ol li{
    font-size: 14px;
    margin-bottom:5px;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}


/*базовые стили обертки модалок*/
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
}

.modal {
    width: 560px;
    position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -280px;
    background: #fff;
    padding: 40px 40px;
    display: none;
}

.modal--fz  {             // во весь экран
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    padding: 0;
    display: none;
    margin: 0;
}

.j-noScroll {
    overflow: hidden;
}