@import "sprite.less";
@import "mixin.less";
@import "base.less";

body {
    
}

.head-bg {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    filter: grayscale(100%);
}

.reset {
    background: none;
    margin: 0;
    padding: 0;
}

.wrap {
	max-width: 1280px;
	margin: 0 auto;
}

.content {
    background: #fff;
}

.content-inn {
    padding: 80px 60px;
    max-width: 1000px;
    margin: 0 auto;
}


.head {
    padding: 20px 0 20px 240px;
    height: 140px;
}

.main-logo {
    position: absolute;
    top: 20px;
    left: 0;
}

.roscosmos-logo {
    position: absolute;
    left: 240px;
    top: 20px;
}

.main-menu {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 80px;
}

.main-menu-one {
    display: table-cell;

    & > a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 21px;
        display: block;
    }

    &:last-child {
        text-align: right;
    }

    i {
        .sprite(@menu-mark);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-right: 5px;
    }

    ul {
        display: none;
        position: absolute;
        background: @color_blue-d;
        list-style-type: none;
        padding: 20px 20px;
        z-index: 10;
        max-width: 200px;
        border-top: 1px solid @color_red;

        a {
            color: #fff;
            text-decoration: none;
            padding: 5px 0;
            display: block;

            &:hover {
                color: @color_red;
            }
        }
    }

    &:hover {
        ul {
            display: block;
        }
    }
}

.head-top {
    position: absolute;
    right: 0;
    top: 20px;
}

.head-top__search {
    .sprite(@poisk);
    display: inline-block;
    vertical-align: middle;

    &:hover {
        .sprite(@poisk-h);
    }
}

.head-top__del {
    width: 1px;
    height: 10px;
    background: @color_red;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

.head-top__lang {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}



.slider {
    width: 100%;
    overflow: hidden;
}

.slider-wrap {
    
}

.slider-one {
    height: 610px;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.slider-one-descr {
    color: #fff;
    position: absolute;
    top: 170px;
    left: 110px;
}

.slider-one__title {
    font-size: 64px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slider-one__text {
    font-size: 18px;
    line-height: 24px;
    max-width: 330px;

}

.slider-page {
    position: absolute;
    bottom: 50px !important;
    left: 110px !important;
    z-index: 10;
    text-align: left;
}

.swiper-pagination-bullet {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    margin-right: 10px;
    opacity: 1;
    background: none;

    &.activeSlide {
    }
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.slider-timer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: @color_red;
    z-index: 10;

}



.product-main {
    height: 335px;
    z-index: 5;
}

.product-main-one {
    width: 50%;
    height: 100%;
    float: left;
    background: @color_blue;
    color: #fff;
    padding: 55px 40px 40px 260px;

    &:hover {
        .product-main__more {
            color: @color_red;
            &:after {
                width: 0;
            }
        }
        
        .product-main-img {
            width: 240px;
            height: 345px;
            top: -5px;
            left: -5px;
        }

    }

}

.product-main-img {
    width: 220px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    .transition;
}

.product-main__count {
    position: absolute;
    right: 0px;
    top: -30px;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.2;
}

.product-main__title {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 34px;
    margin-bottom: 10px;
}

.product-main__descr {
    font-size: 16px;
    line-height: 22px;
}

.product-main__more {
    position: absolute;
    bottom: 50px;
    left: 260px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    &:after {
        content: "";
        width: 100px;
        height: 1px;
        background: @color_red;
        position: absolute;
        right: 80px;
        top: 8px;
        .transition;
    }

    
}



.main-news {
    padding: 80px 70px;
    background: #fff;
}

.main-news__title {
    font-size: 30px;
    margin-bottom: 30px;
    color: #000;
    padding: 0 40px;
}

.main-news-one {
    width: 50%;
    float: left;
    padding: 0 40px;
}

.main-news-one__date {
    color: #9b9ea3;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-news-one__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
}

.main-news-one__descr {
    font-size: 15px;
    line-height: 24px;
    color: #717171;
}




.subscribe {
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-color: #0d3b5c;
    padding: 40px 110px;
    display: table;
    width: 100%;

    form {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        text-align: right;
    }

    label.error {
        position: absolute;
        color: #fff;
        top: 30px;
        left: 0;
    }
}

.subscribe__title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    margin-right: 30px;
    
}

.subscribe__input {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    background: none;
    border: none;
    outline: none;
    width: 400px;
    .placeholder-color(#fff, 0.6);
}

.subscribe__button {
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    background: none;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;

    &:after {
        display: inline-block;
        content: "";
        .sprite(@arrow);
        margin-left: 10px;
    }

    &:hover {
        background: #fff;
        color: @color_blue;

        &:after {
            .sprite(@arrow-h);
        }

    }
}




.link {
    text-align: center;
    padding: 60px 0;
}

.link-one {
    display: inline-block;
    margin: 0 40px;
}

.link-one--council {
    .sprite(@council);
}

.link-one--kremlin {
    .sprite(@kremlin);
}

.link-one--goverment {
    .sprite(@goverment);
}

.link-one--soyuzmash {
    .sprite(@soyuzmash);
}




.footer {
    background: @color_blue-d;
    color: #fff;
    padding: 50px 0;
}

.footer-top {
    padding-left: 250px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;

    &:before {
        content: "";
        width: 200px;
        height: 1px;
        background: @color_red;
        position: absolute;
        top: 9px;
        left: 0;
    }
}

.footer-social {
    position: absolute;
    width: 170px;
    top: 0px;
    left: 0;
}

.footer-social__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;

}

.footer-social__one {
    display: inline-block;
    margin-right: 20px;
}

.footer-social__one--vk {
    .sprite(@vk);
    transition: none;

    &:hover {
        .sprite(@vk-h);
    }
}

.footer-social__one--fb {
    .sprite(@facebook);
    transition: none;

    &:hover {
        .sprite(@facebook-h);
    }
}

.footer-social__one--tw {
    .sprite(@twitter);
    transition: none;

    &:hover {
        .sprite(@twitter-h);
    }
}

.footer-menu {
    display: table;
    width: 100%;
    padding-left: 240px;
    margin-bottom: 70px;
}

.footer-menu-add {
    position: absolute;
    right: 0;
    top: 70px;
    
    a {
        display: inline-block;
        margin-left: 20px;
        font-size: 13px;
        opacity: 0.6;
        color: #fff;
        text-decoration: none;
    }
}

.footer-menu__one {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: table-cell;

    &:last-child {
        text-align: right;
    }
}

.footer-bottom {
    padding-top: 70px;
}

.footer-copy {
    text-decoration: none;
    font-size: 13px;
    color: #829bae;
}

.footer-sm {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    opacity: 0.6;
}

.go-top {
    display: block;
    width: 60px;
    height: 60px;
    background: @color_red;
    position: absolute;
    right: 0;
    top: -30px;

    &:after {
        content: "";
        .sprite(@top);
        position: absolute;
        top: 25px;
        left: 23px;
        display: block;
    }

    &:hover {
        background: #d63632;
    }
}


.mobile-menu-open {
    .sprite(@menu);
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
}

.mobile-menu {
    .head-top {
        right: 20px;        
    }
}

.mobile-menu-top {
    text-align: center;
    background: #f1f6fa;
    padding: 20px;
    height: 120px;
}

.mobile-menu__logo {
    width: 90px;
    position: relative;
}

.modal__close {
    .sprite(@close);
    display: inline-block;
    vertical-align: middle;
}

.modal__close--menu {
    position: absolute;
    top: 50px;
    left: 20px;
    display: block;
}

.mobile-menu-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.mobile-menu-inn {
    background: #2a3f4f;
}

.mobile-menu-one {
    border-bottom: 1px solid #3e5260;
    margin-bottom: 0;
    position: relative;

    a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        display: block;
        padding: 30px 20px;
    }

    li {
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        background: #243848;
        display: none;
        border-top: 1px solid @color_red;

        a {
            font-weight: 400;
            text-transform: none;
            padding: 20px 30px;
        }
    }

    &.j-submenu {
        &:after {
            content: "";
            .sprite(@menu-more);
            display: block;
            position: absolute;
            right: 20px;
            top: 40px;
        }
    }
}

.mobile-menu-bottom {
    background: #2a3f4f;
    padding: 70px 20px;
}

.footer-social__one {
    
}

.mobile-menu__roscosmos {
    position: absolute;
    bottom: 60px;
    right: 20px;

}

.search {
    padding: 40px 0;
}