/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@arrow-h-name: 'arrow-h';
@arrow-h-x: 27px;
@arrow-h-y: 120px;
@arrow-h-offset-x: -27px;
@arrow-h-offset-y: -120px;
@arrow-h-width: 27px;
@arrow-h-height: 13px;
@arrow-h-total-width: 156px;
@arrow-h-total-height: 133px;
@arrow-h-image: '../img/sprite.png';
@arrow-h: 27px 120px -27px -120px 27px 13px 156px 133px '../img/sprite.png' 'arrow-h';
@arrow-name: 'arrow';
@arrow-x: 0px;
@arrow-y: 120px;
@arrow-offset-x: 0px;
@arrow-offset-y: -120px;
@arrow-width: 27px;
@arrow-height: 13px;
@arrow-total-width: 156px;
@arrow-total-height: 133px;
@arrow-image: '../img/sprite.png';
@arrow: 0px 120px 0px -120px 27px 13px 156px 133px '../img/sprite.png' 'arrow';
@back-h-name: 'back-h';
@back-h-x: 120px;
@back-h-y: 72px;
@back-h-offset-x: -120px;
@back-h-offset-y: -72px;
@back-h-width: 16px;
@back-h-height: 16px;
@back-h-total-width: 156px;
@back-h-total-height: 133px;
@back-h-image: '../img/sprite.png';
@back-h: 120px 72px -120px -72px 16px 16px 156px 133px '../img/sprite.png' 'back-h';
@back-name: 'back';
@back-x: 120px;
@back-y: 104px;
@back-offset-x: -120px;
@back-offset-y: -104px;
@back-width: 16px;
@back-height: 16px;
@back-total-width: 156px;
@back-total-height: 133px;
@back-image: '../img/sprite.png';
@back: 120px 104px -120px -104px 16px 16px 156px 133px '../img/sprite.png' 'back';
@close-name: 'close';
@close-x: 142px;
@close-y: 0px;
@close-offset-x: -142px;
@close-offset-y: 0px;
@close-width: 14px;
@close-height: 14px;
@close-total-width: 156px;
@close-total-height: 133px;
@close-image: '../img/sprite.png';
@close: 142px 0px -142px 0px 14px 14px 156px 133px '../img/sprite.png' 'close';
@council-name: 'council';
@council-x: 0px;
@council-y: 60px;
@council-offset-x: 0px;
@council-offset-y: -60px;
@council-width: 52px;
@council-height: 60px;
@council-total-width: 156px;
@council-total-height: 133px;
@council-image: '../img/sprite.png';
@council: 0px 60px 0px -60px 52px 60px 156px 133px '../img/sprite.png' 'council';
@facebook-h-name: 'facebook-h';
@facebook-h-x: 103px;
@facebook-h-y: 93px;
@facebook-h-offset-x: -103px;
@facebook-h-offset-y: -93px;
@facebook-h-width: 11px;
@facebook-h-height: 19px;
@facebook-h-total-width: 156px;
@facebook-h-total-height: 133px;
@facebook-h-image: '../img/sprite.png';
@facebook-h: 103px 93px -103px -93px 11px 19px 156px 133px '../img/sprite.png' 'facebook-h';
@facebook-name: 'facebook';
@facebook-x: 103px;
@facebook-y: 74px;
@facebook-offset-x: -103px;
@facebook-offset-y: -74px;
@facebook-width: 11px;
@facebook-height: 19px;
@facebook-total-width: 156px;
@facebook-total-height: 133px;
@facebook-image: '../img/sprite.png';
@facebook: 103px 74px -103px -74px 11px 19px 156px 133px '../img/sprite.png' 'facebook';
@goverment-name: 'goverment';
@goverment-x: 60px;
@goverment-y: 0px;
@goverment-offset-x: -60px;
@goverment-offset-y: 0px;
@goverment-width: 60px;
@goverment-height: 57px;
@goverment-total-width: 156px;
@goverment-total-height: 133px;
@goverment-image: '../img/sprite.png';
@goverment: 60px 0px -60px 0px 60px 57px 156px 133px '../img/sprite.png' 'goverment';
@kremlin-name: 'kremlin';
@kremlin-x: 52px;
@kremlin-y: 60px;
@kremlin-offset-x: -52px;
@kremlin-offset-y: -60px;
@kremlin-width: 51px;
@kremlin-height: 60px;
@kremlin-total-width: 156px;
@kremlin-total-height: 133px;
@kremlin-image: '../img/sprite.png';
@kremlin: 52px 60px -52px -60px 51px 60px 156px 133px '../img/sprite.png' 'kremlin';
@menu-mark-name: 'menu-mark';
@menu-mark-x: 94px;
@menu-mark-y: 120px;
@menu-mark-offset-x: -94px;
@menu-mark-offset-y: -120px;
@menu-mark-width: 18px;
@menu-mark-height: 7px;
@menu-mark-total-width: 156px;
@menu-mark-total-height: 133px;
@menu-mark-image: '../img/sprite.png';
@menu-mark: 94px 120px -94px -120px 18px 7px 156px 133px '../img/sprite.png' 'menu-mark';
@menu-more-name: 'menu-more';
@menu-more-x: 103px;
@menu-more-y: 112px;
@menu-more-offset-x: -103px;
@menu-more-offset-y: -112px;
@menu-more-width: 15px;
@menu-more-height: 8px;
@menu-more-total-width: 156px;
@menu-more-total-height: 133px;
@menu-more-image: '../img/sprite.png';
@menu-more: 103px 112px -103px -112px 15px 8px 156px 133px '../img/sprite.png' 'menu-more';
@menu-name: 'menu';
@menu-x: 103px;
@menu-y: 60px;
@menu-offset-x: -103px;
@menu-offset-y: -60px;
@menu-width: 16px;
@menu-height: 14px;
@menu-total-width: 156px;
@menu-total-height: 133px;
@menu-image: '../img/sprite.png';
@menu: 103px 60px -103px -60px 16px 14px 156px 133px '../img/sprite.png' 'menu';
@more-name: 'more';
@more-x: 142px;
@more-y: 26px;
@more-offset-x: -142px;
@more-offset-y: -26px;
@more-width: 9px;
@more-height: 16px;
@more-total-width: 156px;
@more-total-height: 133px;
@more-image: '../img/sprite.png';
@more: 142px 26px -142px -26px 9px 16px 156px 133px '../img/sprite.png' 'more';
@poisk-h-name: 'poisk-h';
@poisk-h-x: 120px;
@poisk-h-y: 54px;
@poisk-h-offset-x: -120px;
@poisk-h-offset-y: -54px;
@poisk-h-width: 18px;
@poisk-h-height: 18px;
@poisk-h-total-width: 156px;
@poisk-h-total-height: 133px;
@poisk-h-image: '../img/sprite.png';
@poisk-h: 120px 54px -120px -54px 18px 18px 156px 133px '../img/sprite.png' 'poisk-h';
@poisk-name: 'poisk';
@poisk-x: 120px;
@poisk-y: 36px;
@poisk-offset-x: -120px;
@poisk-offset-y: -36px;
@poisk-width: 18px;
@poisk-height: 18px;
@poisk-total-width: 156px;
@poisk-total-height: 133px;
@poisk-image: '../img/sprite.png';
@poisk: 120px 36px -120px -36px 18px 18px 156px 133px '../img/sprite.png' 'poisk';
@quote-name: 'quote';
@quote-x: 142px;
@quote-y: 14px;
@quote-offset-x: -142px;
@quote-offset-y: -14px;
@quote-width: 14px;
@quote-height: 12px;
@quote-total-width: 156px;
@quote-total-height: 133px;
@quote-image: '../img/sprite.png';
@quote: 142px 14px -142px -14px 14px 12px 156px 133px '../img/sprite.png' 'quote';
@sm-name: 'sm';
@sm-x: 120px;
@sm-y: 88px;
@sm-offset-x: -120px;
@sm-offset-y: -88px;
@sm-width: 16px;
@sm-height: 16px;
@sm-total-width: 156px;
@sm-total-height: 133px;
@sm-image: '../img/sprite.png';
@sm: 120px 88px -120px -88px 16px 16px 156px 133px '../img/sprite.png' 'sm';
@soyuzmash-name: 'soyuzmash';
@soyuzmash-x: 0px;
@soyuzmash-y: 0px;
@soyuzmash-offset-x: 0px;
@soyuzmash-offset-y: 0px;
@soyuzmash-width: 60px;
@soyuzmash-height: 60px;
@soyuzmash-total-width: 156px;
@soyuzmash-total-height: 133px;
@soyuzmash-image: '../img/sprite.png';
@soyuzmash: 0px 0px 0px 0px 60px 60px 156px 133px '../img/sprite.png' 'soyuzmash';
@top-name: 'top';
@top-x: 142px;
@top-y: 42px;
@top-offset-x: -142px;
@top-offset-y: -42px;
@top-width: 13px;
@top-height: 8px;
@top-total-width: 156px;
@top-total-height: 133px;
@top-image: '../img/sprite.png';
@top: 142px 42px -142px -42px 13px 8px 156px 133px '../img/sprite.png' 'top';
@twitter-h-name: 'twitter-h';
@twitter-h-x: 120px;
@twitter-h-y: 18px;
@twitter-h-offset-x: -120px;
@twitter-h-offset-y: -18px;
@twitter-h-width: 22px;
@twitter-h-height: 18px;
@twitter-h-total-width: 156px;
@twitter-h-total-height: 133px;
@twitter-h-image: '../img/sprite.png';
@twitter-h: 120px 18px -120px -18px 22px 18px 156px 133px '../img/sprite.png' 'twitter-h';
@twitter-name: 'twitter';
@twitter-x: 120px;
@twitter-y: 0px;
@twitter-offset-x: -120px;
@twitter-offset-y: 0px;
@twitter-width: 22px;
@twitter-height: 18px;
@twitter-total-width: 156px;
@twitter-total-height: 133px;
@twitter-image: '../img/sprite.png';
@twitter: 120px 0px -120px 0px 22px 18px 156px 133px '../img/sprite.png' 'twitter';
@vk-h-name: 'vk-h';
@vk-h-x: 54px;
@vk-h-y: 120px;
@vk-h-offset-x: -54px;
@vk-h-offset-y: -120px;
@vk-h-width: 20px;
@vk-h-height: 11px;
@vk-h-total-width: 156px;
@vk-h-total-height: 133px;
@vk-h-image: '../img/sprite.png';
@vk-h: 54px 120px -54px -120px 20px 11px 156px 133px '../img/sprite.png' 'vk-h';
@vk-name: 'vk';
@vk-x: 74px;
@vk-y: 120px;
@vk-offset-x: -74px;
@vk-offset-y: -120px;
@vk-width: 20px;
@vk-height: 11px;
@vk-total-width: 156px;
@vk-total-height: 133px;
@vk-image: '../img/sprite.png';
@vk: 74px 120px -74px -120px 20px 11px 156px 133px '../img/sprite.png' 'vk';
@spritesheet-width: 156px;
@spritesheet-height: 133px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @arrow-h @arrow @back-h @back @close @council @facebook-h @facebook @goverment @kremlin @menu-mark @menu-more @menu @more @poisk-h @poisk @quote @sm @soyuzmash @top @twitter-h @twitter @vk-h @vk;
@spritesheet: 156px 133px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
