@import "../base.less";

@media screen and (max-width: 1000px) { // планшет вертикально
    .wrap {
        padding: 0 20px;
    }

    .main-menu {
        display: none;
    }

    .head {
        height: 120px;
        text-align: center;
        padding: 20px 0;
    }

    .main-logo {
        position: relative;
        top: 0;
        img {
            width: 90px;
        }
    }

    .roscosmos-logo {
        display: none;
    }

    .head-top {
        top: 45px;
    }

    .slider-one {
        height: 440px;
    }

    .slider-one-descr {
        top: 130px;
        left: 40px;
    }

    .slider-page {
        left: 40px !important;
    }

    .content-inn {
        padding: 40px;
    }

    .product-main {
        height: auto;
    }

    .product-main-one {
        float: none;
        width: 100%;
        height: 380px;
        margin-bottom: 10px;
        padding: 80px 80px 80px 290px;

        &:hover {
            .product-main-img {
                width: 245px;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }

    .product-main-img {
        width: 245px;
    }

    .product-main__count {
        right: 40px;
        top: 40px;
    }

    .product-main__title {
        font-size: 28px;
        line-height: 34px;
        max-width: 340px;
    }

    .product-main__descr {
        max-width: 340px;
        line-height: 22px;
    }

    .product-main__more {
        left: 290px;
        bottom: 40px;
    }

    .subscribe {
        display: block;
        form {
            display: block;
            width: 100%;
        }
    }

    .subscribe__title {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .subscribe__input {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .subscribe__button {
        display: block;
        margin: 0px auto;
    }

    .main-news {
        padding: 50px 20px;
    }

    .main-news-one {
        padding: 0 10px;
    }

    .footer-top {
        padding-left: 0;
        margin-bottom: 0px;
        text-align: center;
        &:before {
            display: none;
        }
    }

    .go-top {
        display: none;
    }

    .footer-middle {
        
    }

    .footer-social {
        position: relative;
        width: 100%;
        padding: 40px 0;
    }

    .footer-social__title {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        margin-right: 30px;
        font-size: 13px;
    }

    .footer-social__one {
        vertical-align: middle;
    }

    .footer-menu {
        padding-left: 0;
        padding: 40px 0;
        border-bottom: 1px solid @color_red;
        margin-bottom: 0;
    }

    .footer-menu__one {
        font-size: 13px;
    }

    .footer-menu-add {
        top: auto;
        bottom: 40px;
    }

    .footer-bottom {
        padding-top: 0;
    }

    .footer-copy {
        font-size: 12px;
    }

    .footer-sm {
        font-size: 12px;
    }

    .footer-bottom {
        padding-top: 20px;
    }

    .side-box {
        padding-left: 0;
        margin-bottom: 50px;
    }

    .side-inn {
        float: none;
        overflow: visible;
    }

    .side-title {
    }

    .side {
        margin-left: 0;
        width: 100%;
        float: none;
        background: none;
        padding: 0 0;

    }

    .side-list {
        columns: 2;
        
        a {
            text-decoration: underline;
        }
    }

    .text-column {
        columns: 1;

        img {
            width: 40% !important;
            float: left;
            margin: 0 20px 20px 0;
        }
    }

    .side-tag {
        //display: none;
    }

    .side-menu {
    }
    
    .side-tag__one {
        text-decoration: none;
    }

    .prod-one {
        width: 32%;
        margin-right: 2%;
        
    }

    .mobile-menu-open {
        display: block;
    }

    .product-category {
        margin-bottom: 20px;
    }

    .product-category-one {
        float: none;
        width: 100%;
        height: 245px;
        background: #154a70;
        margin-bottom: 20px;
        &:hover {
            .product-category-img {
                width: 50%;
                top: 0;
                left: 0;
                height: 100%;
            }

            .product-category__title {
                font-size: 24px;
                width: 50%;
                left: auto;
                right: 0;
                top: 40px;
            }

            .product-category__more {
                width: 50%;
                left: auto;
                bottom: 40px;
                right: 0;
                opacity: 1;
                &:after {
                    height: 50px;
                }
            }
        }
    }

    .product-category-img {
        width: 50%;
    }

    .product-category__title {
        font-size: 24px;
        width: 50%;
        left: auto;
        right: 0;
        top: 40px;
    }

    .product-category__more {
        width: 50%;
        left: auto;
        bottom: 40px;
        right: 0;
        opacity: 1;
        &:after {
            height: 50px;
        }
    }

    .head-bg--category {
        height: 930px;
    }

    .category-title {
        margin-bottom: 30px;
    }

    .category-text {
        padding: 0 20px;
    }

    .prod-one {
        width: 48%;
        margin-right: 3.5%;
        &:nth-child(3n) {
            margin-right: 3.5%;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

}

