<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a>
            </div>
            <h1>космическая тематика</h1>

            <div class=" clearfix">

               
                <div class="text-column">
                    <p>АО «Корпорация «СПУ-ЦКБ ТМ» занимается созданием агрегатов стартовых комплексов, связанных с доставкой и установкой РКН на стартовый стол, заправкой и обслуживанием изделий во время подготовки к проведению пусков ракет различного назначения.</p>
                    <p>Данные работы выполняются в рамках заказов «Роскосмоса», Космических войск, Европейского Космического агентства, Космического агентства Республики Казахстан для космодромов «Байконур», «Восточный», «Куру» Гвианского Космического центра.</p>
                </div>

                <div class="prod-list">
                    <a href="#" class="prod-one">
                        <div class="prod-one__img">
                            <img src="tmp/prod-one.jpg" alt="">
                        </div>
                        <div class="prod-one-bottom">
                            <div class="prod-one__title">КРК «Энергия-Буран». Агрегат 17Т13</div>
                            <div class="prod-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
                            <div class="prod-one__more">Подробнее</div>
                        </div>
                    </a>
                    <a href="#" class="prod-one">
                        <div class="prod-one__img">
                            <img src="tmp/prod-one.jpg" alt="">
                        </div>
                        <div class="prod-one-bottom">
                            <div class="prod-one__title">КРК «Энергия-Буран». Агрегат 17Т13</div>
                            <div class="prod-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
                            <div class="prod-one__more">Подробнее</div>
                        </div>
                    </a>
                    <a href="#" class="prod-one">
                        <div class="prod-one__img">
                            <img src="tmp/prod-one.jpg" alt="">
                        </div>
                        <div class="prod-one-bottom">
                            <div class="prod-one__title">КРК «Энергия-Буран». Агрегат 17Т13</div>
                            <div class="prod-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
                            <div class="prod-one__more">Подробнее</div>
                        </div>
                    </a>
                    <a href="#" class="prod-one">
                        <div class="prod-one__img">
                            <img src="tmp/prod-one.jpg" alt="">
                        </div>
                        <div class="prod-one-bottom">
                            <div class="prod-one__title">КРК «Энергия-Буран». Агрегат 17Т13</div>
                            <div class="prod-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
                            <div class="prod-one__more">Подробнее</div>
                        </div>
                    </a>
                    <a href="#" class="prod-one">
                        <div class="prod-one__img">
                            <img src="tmp/prod-one.jpg" alt="">
                        </div>
                        <div class="prod-one-bottom">
                            <div class="prod-one__title">КРК «Энергия-Буран». Агрегат 17Т13</div>
                            <div class="prod-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
                            <div class="prod-one__more">Подробнее</div>
                        </div>
                    </a>
                    <a href="#" class="prod-one">
                        <div class="prod-one__img">
                            <img src="tmp/prod-one.jpg" alt="">
                        </div>
                        <div class="prod-one-bottom">
                            <div class="prod-one__title">КРК «Энергия-Буран». Агрегат 17Т13</div>
                            <div class="prod-one__descr">Агрегат обслуживания предназначен для проведения технологических операций при подготовке РКН к пуску.</div>
                            <div class="prod-one__more">Подробнее</div>
                        </div>
                    </a>
                    
                
                </div>



                
            </div>
    </div>
</div>