
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">О компании</a>
            </div>
            <h1>руководство</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <p>Акционерное общество «Корпорация «Стратегические пункты управления» было образованно 02 мая 2012 года путем реорганизации в форме преобразования Федерального государственного унитарного предприятия «Центральное конструкторское бюро тяжелого машиностроения».</p>
                        
                        <div class="rukovod-one clearfix">
                            <div class="rukovod-photo">
                                <img src="tmp/rukovod.jpg" alt="">
                            </div>
                            <div class="rukovod-descr">
                                <div class="rukovod__name">
                                    Полянский<br>
                                    Владимир<br>
                                    Иванович
                                </div>
                                <div class="rukovod__position">Генеральный директор</div>
                                <p>
                                    Кроме основной научно-производственной площадки в городе Москве, АО «Корпорация «СПУ-ЦКБ ТМ» имеет филиал АО "Корпорация "Стратегические пункты управления".
                                </p>
                                <a href="#" class="rukovod__more">Подробне</a>
                                <p class="rukovod__hidden">Предприятием были разработаны и изготовлены подъемно-установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ. Коллективом АО «Корпорация «СПУ-ЦКБ ТМ» были спроектированы и изготовлены подъемно-установочное оборудование, башни и фермы обслуживания, заправочные кабель-мачты, системы экстренной эвакуации и другие агрегаты наземного базирования для ракетно-космических комплексов типа «Восток», «Союз», «Мир», «Протон», «Н-1», «Энергия-Буран», международных программ «Морской старт» и «Гвианский космический центр».</p>
                            </div>
                        </div>

                        <div class="rukovod-one clearfix">
                            <div class="rukovod-photo">
                                <img src="tmp/rukovod.jpg" alt="">
                            </div>
                            <div class="rukovod-descr">
                                <div class="rukovod__name">
                                    Полянский<br>
                                    Владимир<br>
                                    Иванович
                                </div>
                                <div class="rukovod__position">Генеральный директор</div>
                                <p>
                                    Кроме основной научно-производственной площадки в городе Москве, АО «Корпорация «СПУ-ЦКБ ТМ» имеет филиал АО "Корпорация "Стратегические пункты управления".
                                </p>
                                <a href="#" class="rukovod__more">Подробне</a>
                                <p class="rukovod__hidden">Предприятием были разработаны и изготовлены подъемно-установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ. Коллективом АО «Корпорация «СПУ-ЦКБ ТМ» были спроектированы и изготовлены подъемно-установочное оборудование, башни и фермы обслуживания, заправочные кабель-мачты, системы экстренной эвакуации и другие агрегаты наземного базирования для ракетно-космических комплексов типа «Восток», «Союз», «Мир», «Протон», «Н-1», «Энергия-Буран», международных программ «Морской старт» и «Гвианский космический центр».</p>
                            </div>
                        </div>

                        <div class="rukovod-one clearfix">
                            <div class="rukovod-photo">
                                <img src="tmp/rukovod.jpg" alt="">
                            </div>
                            <div class="rukovod-descr">
                                <div class="rukovod__name">
                                    Полянский<br>
                                    Владимир<br>
                                    Иванович
                                </div>
                                <div class="rukovod__position">Генеральный директор</div>
                                <p>
                                    Кроме основной научно-производственной площадки в городе Москве, АО «Корпорация «СПУ-ЦКБ ТМ» имеет филиал АО "Корпорация "Стратегические пункты управления".
                                </p>
                                <a href="#" class="rukovod__more">Подробне</a>
                                <p class="rukovod__hidden">Предприятием были разработаны и изготовлены подъемно-установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ. Коллективом АО «Корпорация «СПУ-ЦКБ ТМ» были спроектированы и изготовлены подъемно-установочное оборудование, башни и фермы обслуживания, заправочные кабель-мачты, системы экстренной эвакуации и другие агрегаты наземного базирования для ракетно-космических комплексов типа «Восток», «Союз», «Мир», «Протон», «Н-1», «Энергия-Буран», международных программ «Морской старт» и «Гвианский космический центр».</p>
                            </div>
                        </div>

                        <div class="rukovod-list">
                            <h2 class="rukovod-list__title">Члены совета директоров</h2>
                            <div class="rukovod-list-inn">
                                <div class="rukovod-list-one">
                                    <div class="rukovod-list-one__name">Худяков<br>
                                    Евгений<br>
                                    Алексеевич</div>
                                    <div class="rukovod-list-one__position">Должность</div>
                                </div>
                                <div class="rukovod-list-one">
                                    <div class="rukovod-list-one__name">Худяков<br>
                                    Евгений<br>
                                    Алексеевич</div>
                                    <div class="rukovod-list-one__position">Должность</div>
                                </div>
                                <div class="rukovod-list-one">
                                    <div class="rukovod-list-one__name">Худяков<br>
                                    Евгений<br>
                                    Алексеевич</div>
                                    <div class="rukovod-list-one__position">Должность</div>
                                </div>
                                <div class="rukovod-list-one">
                                    <div class="rukovod-list-one__name">Худяков<br>
                                    Евгений<br>
                                    Алексеевич</div>
                                    <div class="rukovod-list-one__position">Должность</div>
                                </div>
                                <div class="rukovod-list-one">
                                    <div class="rukovod-list-one__name">Худяков<br>
                                    Евгений<br>
                                    Алексеевич</div>
                                    <div class="rukovod-list-one__position">Должность</div>
                                </div>
                                <div class="rukovod-list-one">
                                    <div class="rukovod-list-one__name">Худяков<br>
                                    Евгений<br>
                                    Алексеевич</div>
                                    <div class="rukovod-list-one__position">Должность</div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">О компании</div>
                        <div class="side-list">
                            <a href="#">История компании</a>
                            <a href="#" class="current">Руководство</a>
                            <a href="#">Партнеры</a>
                            <a href="#">Направления деятельности</a>
                            <a href="#">Вакансии</a>
                            <a href="#">Библиотека</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>