<div class="wrap wrap-category">
    <div class="breadcrumbs">
        <a href="#">Главная</a>
    </div>

    <h1 class="category-title">продукция</h1>

    <div class="product-category clearfix">
        <a href="#" class="product-category-one">
            <div class="product-category-img" style="background-image: url(tmp/prod-cosmos.jpg);"></div>
            <div class="product-category__title">Гражданская <br>продукция</div>
            <div class="product-category__more">Подробнее</div>
        </a>
        <a href="#" class="product-category-one">
            <div class="product-category-img" style="background-image: url(tmp/prod-grazd.jpg);"></div>
            <div class="product-category__title">Космическая <br>тематика</div>
            <div class="product-category__more" >Подробнее</div>
        </a>

    </div>
    <div class="category-text">
        АО «Корпорация «СПУ-ЦКБ ТМ» выполняет научно-исследовательские, опытно-конструкторские и технологические разработки по созданию различных командных пунктов и пунктов управления, наземного оборудования для доставки, установки, обслуживанию, заправки и предстартовой подготовки ракет на пусковых объектах и по другим направлениям НИОКР.
    </div>
</div>
