<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Пресс-центр</a> / <a href="#">Медиа</a>
            </div>
            <h1>Запуск ТПК «Союз МС-04» ракетой-носителем «Союз-ФГ»</h1>
            

            <div class=" clearfix">

                <div class="preview">
                    <div class="preview-list">
                        <a href="tmp/about.jpg">
                            <img src="tmp/media-list.jpg" alt="">
                        </a>
                        <a href="tmp/about.jpg">
                            <img src="tmp/media-list.jpg" alt="">
                        </a>
                        <a href="tmp/about.jpg">
                            <img src="tmp/media-list.jpg" alt="">
                        </a>
                        <a href="tmp/about.jpg">
                            <img src="tmp/media-list.jpg" alt="">
                        </a>
                        <a href="tmp/about.jpg">
                            <img src="tmp/media-list.jpg" alt="">
                        </a>
                        <a href="tmp/about.jpg">
                            <img src="tmp/media-list.jpg" alt="">
                        </a>
                        <a href="tmp/about.jpg">
                            <img src="tmp/media-list.jpg" alt="">
                        </a>
                    </div>
                </div>

                
                <div class="news-one-wrap">
                    <div class="news-one-nav news-one-nav--media clearfix">
                        <a href="#" class="news-one-nav__prev"><span>Предыдущий альбом</span></a>
                        <a href="#" class="news-one-nav__back"></a>
                        <a href="#" class="news-one-nav__next"><span>Следующий альбом</span></a>
                    </div>
                </div>
                
            </div>
    </div>
</div>