<div class="wrap">
    <div class="content">
        <div class="content-inn">
            <mark>Акционерное общество «Корпорация «Стратегические пункты управления» было образованно
            02 мая 2012 года путем реорганизации в форме преобразования Федерального государственного унитарного предприятия «Центральное конструкторское бюро тяжелого машиностроения».</mark>

            <hr>

            <p>Ордена Трудового Красного Знамени ФГУП «Центральное конструкторское бюро тяжелого машиностроения», головное предприятие по созданию систем высокозащищенных командных пунктов, было образовано в 1947 г. в целях создания агрегатов наземного оборудования для запуска советских ракет (Р-1, Р-2, Р-5, Р-7 и др.). Первая межконтинентальная ракета, первый спутник и первый космонавт были выведены на околоземную орбиту с применением агрегатов наземного оборудования, разработанных специалистами ЦКБ ТМ.</p>

            <p>Предприятием были разработаны и изготовлены подъемно-установочные агрегаты, защитные устройства и другое оборудование для боевых ракетных комплексов РВСН, а также кантователи и агрегаты вертикальной загрузки ракет в подводные лодки для ВМФ. Коллективом АО «Корпорация «СПУ-ЦКБ ТМ» были спроектированы и изготовлены подъемно-установочное оборудование, башни и фермы обслуживания, заправочные кабель-мачты, системы экстренной эвакуации и другие агрегаты наземного базирования для ракетно-космических комплексов типа «Восток», «Союз», «Мир», «Протон», «Н-1», «Энергия-Буран», международных программ «Морской старт» и «Гвианский космический центр».</p>

        </div>  
    </div>
</div>
