<div class="wrap">
    <div class="main-news clearfix">
        <div class="main-news__title">Новости</div>
        <div class="main-news-one">
            <div class="main-news-one__date">27 апреля 2017</div>
            <a class="main-news-one__title" href="#">Проект шестилучевого гаража-хранилища легковых автомобилей</a>
            <div class="main-news-one__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, пеноматериалов и других экзотических материалов.</div>
        </div>
        <div class="main-news-one">
            <div class="main-news-one__date">27 апреля 2017</div>
            <a class="main-news-one__title" href="#">Комплекс средств аварийной эвакуации из шахт неглубокого заложения</a>
            <div class="main-news-one__descr">Мы готовы изготовить для Вас изделия любой сложности по Вашим чертежам, наше конструкторское бюро разработает любые чертежи для Ваших потребностей.</div>
        </div>
    </div>
</div>
