<div class="wrap">
    <div class="product-main clearfix">
        <div class="product-main-one">
            <div class="product-main-img" style="background-image: url(tmp/product-1.jpg);"></div>
            <div class="product-main__count">01</div>
            <div class="product-main__title">Гражданская продукция</div>
            <div class="product-main__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, стекла, мрамора, и других экзотических материалов.</div>
            <a class="product-main__more" href="#">Подробнее</a>
        </div>
        <div class="product-main-one">
            <div class="product-main-img" style="background-image: url(tmp/product-2.jpg);"></div>
            <div class="product-main__count">02</div>
            <div class="product-main__title">Космическая тематика</div>
            <div class="product-main__descr">Создание агрегатов стартовых комплексов, связанных с доставкой и установкой РКН на стартовый стол.</div>
            <a class="product-main__more" href="#">Подробнее</a>
        </div>
    </div>
</div>
