<div class="wrap">
    <div class="slider">
        <div class="slider-wrap">
            <div class="slider-one" style="background: url(tmp/slide-1.jpg);">
                <div class="slider-one-descr">
                    <div class="slider-one__title">КРК «Протон»</div>
                    <div class="slider-one__text">Подъемно-установочное устройство предназначено дляустановки РКН на пусковое устройство</div>
                </div>
            </div>
            <div class="slider-one" style="background: url(tmp/slide-2.jpg);">
                <div class="slider-one-descr">
                    <div class="slider-one__title">КРК «Нейтрон»</div>
                    <div class="slider-one__text">Подъемно-установочное устройство предназначено дляустановки РКН на пусковое устройство</div>
                </div>
            </div>
            <div class="slider-one" style="background: url(tmp/slide-1.jpg);">
                <div class="slider-one-descr">
                    <div class="slider-one__title">КРК «Протон»</div>
                    <div class="slider-one__text">Подъемно-установочное устройство предназначено дляустановки РКН на пусковое устройство</div>
                </div>
            </div>
            <div class="slider-one" style="background: url(tmp/slide-2.jpg);">
                <div class="slider-one-descr">
                    <div class="slider-one__title">КРК «Нейтрон»</div>
                    <div class="slider-one__text">Подъемно-установочное устройство предназначено дляустановки РКН на пусковое устройство</div>
                </div>
            </div>
        </div>
        <div class="slider-timer"></div>
        <div class="slider-page"></div>
    </div>
</div>