
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">О компании</a> / <a href="#">Вакансии</a>
            </div>
            <h1>Главный специалист Отдела оценки обучения
и развития персонала</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <p>
                            <dl>
                                <dt>Дата публикации:</dt>
                                <dd>24 апреля 2017</dd>
                            </dl>
                            <dl>
                                <dt>Организация:</dt>
                                <dd>Служба управления персоналом   </dd>
                            </dl>
                            <dl>
                                <dt>Департамент: </dt>
                                <dd>Служба управления персоналом </dd>
                            </dl>
                            <dl>
                                <dt>Отдел: </dt>
                                <dd>Отдел оценки обучения и развития персонала</dd>
                            </dl>
                        </p>

                        <h3>Требования:</h3>
                        <ul>
                            <li>Высшее образование в области управления персоналом, менеджмента, финансов; </li>
                            <li>Опыт реализации проектов по развитию молодых работников, организация работы с практикантами, студентами, опыт работы по целевому приему студентов профильных вузов;</li>
                            <li>Знания и навыки в области оценки и развития персонала по общекорпоративным и профессиональным компетенциям; </li> 
                            <li>Умение работать с MS Office (Outlook, Excel, Word, Project, Power Point, Visio, ЕОСДО).</li> 
                            <li>Умение работать в условиях жестких сроков и большого кол-ва задач одновременно; </li>
                            <li>Опыт работы в отрасли является преимуществом;</li>
                        </ul>

                        <h3>Обязанности:</h3>
                        <ul>
                            <li>Организация работы с вузами (программа целевого приема молодых специалистов, Дни карьеры, ТеМП);</li>
                            <li>Планирование потребности по приему молодых специалистов, работа с программой отраслевого мониторинга потребности в молодых специалистах, организация практик, подбор лучших выпускников, адаптация принятых молодых работников;</li>
                            <li>Планирование и реализация мероприятий по работе с молодежью в организации с развитой филиальной сетью и численностью более 2 тыс. человек в т.ч. отраслевых: Инновационный лидер, Форсаж;</li>
                            <li>Реализация программы развития для молодых работников организации: развитие общекорпоративных и профессиональных компетенций у сотрудников, организация и проведение конференций для молодых работников (количество участников каждой конференции >100 молодых работников);</li>
                            <li>Реализация молодежных мероприятий в рамках дивизионального плана работы с молодежью, курирование деятельности Совета молодежи;
                            Бюджетирование по направлениям работ, договорная работа по направлениям работ, ведение отчетности по направлениям работ.</li>
                        </ul>
                        <h3>Контакты:</h3>
                        <h4>Лях Екатерина Евгеньевна
                            <p>Отдел оценки обучения и развития персонала</p>
                        </h4>

                        <p>Т: +7 (499) 962-81-89 доб.37-13 <br>
                        @: <a href="#">mail@corpspu.ru</a></p>

                        
                        <div class="content-back">
                           <a href="#">К списку вакансий</a> 
                        </div>
                        
                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">О компании</div>
                        <div class="side-list">
                            <a href="#" >История компании</a>
                            <a href="#">Руководство</a>
                            <a href="#">Партнеры</a>
                            <a href="#">Направления деятельности</a>
                            <a href="#" class="current">Вакансии</a>
                            <a href="#">Библиотека</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>