
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Пресс-центр</a>
            </div>
            <h1>новости</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <div class="news-filtr">
                            <a href="#" class="news-filtr-one active">За все время</a>
                            <a href="#" class="news-filtr-one">2017</a>
                            <a href="#" class="news-filtr-one">2016</a>
                            <a href="#" class="news-filtr-one">2015</a>
                            <a href="#" class="news-filtr-one">2014</a>
                            <a href="#" class="news-filtr-one">2013</a>
                            <a href="#" class="news-filtr-one">2013</a>
                            <a href="#" class="news-filtr-one news-filtr-one--all"></a>
                        </div>
                        <div class="news-list">
                            <div class="news-one">
                                <div class="news-one__img">
                                    <img src="tmp/news-2.jpg" alt="">
                                </div>
                                <div class="news-one__date">27 апреля 2017</div>
                                <a class="news-one__title" href="#">Проект шестилучевого гаража-хранилища легковых автомобилей</a>
                                <div class="news-one__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, пеноматериалов и других экзотических материалов.</div>
                                <div class="news-one__tag">
                                    # <a href="">Машиностроение</a>, <a href="#">транспорт</a>
                                </div>
                            </div>
                            <div class="news-one">
                                <div class="news-one__img">
                                    <img src="tmp/news-1.jpg" alt="">
                                </div>
                                <div class="news-one__date">27 апреля 2017</div>
                                <a class="news-one__title" href="#">Проект шестилучевого гаража-хранилища легковых автомобилей</a>
                                <div class="news-one__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, пеноматериалов и других экзотических материалов.</div>
                                <div class="news-one__tag">
                                    # <a href="">Машиностроение</a>, <a href="#">транспорт</a>
                                </div>
                            </div>
                            <div class="news-one">
                                <div class="news-one__img">
                                    <img src="tmp/news-1.jpg" alt="">
                                </div>
                                <div class="news-one__date">27 апреля 2017</div>
                                <a class="news-one__title" href="#">Проект шестилучевого гаража-хранилища легковых автомобилей</a>
                                <div class="news-one__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, пеноматериалов и других экзотических материалов.</div>
                                <div class="news-one__tag">
                                    # <a href="">Машиностроение</a>, <a href="#">транспорт</a>
                                </div>
                            </div>
                            <div class="news-one">
                                <div class="news-one__img">
                                    <img src="tmp/news-1.jpg" alt="">
                                </div>
                                <div class="news-one__date">27 апреля 2017</div>
                                <a class="news-one__title" href="#">Проект шестилучевого гаража-хранилища легковых автомобилей</a>
                                <div class="news-one__descr">Наше оборудование и специалисты могут изготавливать изделия из стали, алюминия, меди, пеноматериалов и других экзотических материалов.</div>
                                <div class="news-one__tag">
                                    # <a href="">Машиностроение</a>, <a href="#">транспорт</a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="news-more">Показать еще</a>
                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">Пресс-центр</div>
                        <div class="side-list">
                            <a href="#" class="current">Новости</a>
                            <a href="#">Медиа</a>
                        </div>
                    </div>
                    <div class="side-tag">
                        <div class="side-tag__title">Теги</div>
                        <div class="side-tag-list">
                            <a href="#" class="side-tag__one">Роскосмос</a>
                            <a href="#" class="side-tag__one">Байконур</a>
                            <a href="#" class="side-tag__one">Космос</a>
                            <a href="#" class="side-tag__one">СПУ-ЦКБ ТМ</a>
                            <a href="#" class="side-tag__one">Закупки</a>
                            <a href="#" class="side-tag__one">Машиностроение</a>
                            <a href="#" class="side-tag__one">Транспорт</a>
                            <a href="#" class="side-tag__one">Производство</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>