
<div class="wrap">
    <div class="content content--side">
            <div class="breadcrumbs">
                <a href="#">Главная</a> / <a href="#">Корпоративная часть</a>
            </div>
            <h1>закупки</h1>

            <div class=" clearfix">
                <div class="side-inn">
                    <div class="side-box">
                        <p>АО «Корпорация «СПУ-ЦКБ ТМ» выполняет научно-исследовательские, опытно-конструкторские и технологические разработки по созданию различных командных пунктов и пунктов управления, наземного оборудования для доставки, установки, обслуживанию, заправки и предстартовой подготовки ракет на пусковых объектах и по другим направлениям НИОКР.</p>

                        <div class="panel-list">
                            <a href="#" class="panel-one">
                                <div class="panel-one__title">Закупка у единственного поставщика</div>
                                <div class="panel-one__bottom">28 ЗАКУПОК</div>
                            </a>
                            <a href="#" class="panel-one">
                                <div class="panel-one__title">Запрос предложений</div>
                                <div class="panel-one__bottom">37 ЗАКУПОК</div>
                            </a>
                            <a href="#" class="panel-one">
                                <div class="panel-one__title">Закупка у единственного поставщика</div>
                                <div class="panel-one__bottom">28 ЗАКУПОК</div>
                            </a>
                            <a href="#" class="panel-one">
                                <div class="panel-one__title">Запрос предложений</div>
                                <div class="panel-one__bottom">37 ЗАКУПОК</div>
                            </a>
                            <a href="#" class="panel-one">
                                <div class="panel-one__title">Закупка у единственного поставщика</div>
                                <div class="panel-one__bottom">28 ЗАКУПОК</div>
                            </a>
                            <a href="#" class="panel-one">
                                <div class="panel-one__title">Запрос предложений</div>
                                <div class="panel-one__bottom">37 ЗАКУПОК</div>
                            </a>
                            
                        </div>

                            <a href="#" class="doc-one clearfix">
                                <i class="doc-one__icon doc--doc">doc</i>
                                <div class="doc-one__title">План закупок Заказчика на текущий год</div>
                            </a>
                    </div>
                </div>
                <div class="side">
                    <div class="side-menu">
                        <div class="side-title">О компании</div>
                        <div class="side-list">
                            <a href="#">Нормативно правовые акты</a>
                            <a href="#">Методические материалы</a>
                            <a href="#">Формы документов</a>
                            <a href="#">Комиссия</a>
                            <a href="#">Сведения</a>
                            <a href="#">Система менеджмента качества</a>
                            <a href="#">Документы</a>
                            <a href="#">Противодействие коррупции</a>
                            <a href="#">Антикоррупционная экспертиза</a>
                            <a href="#" class="current">Закупки</a>
                            <a href="#">Раскрытие информации</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>